<h1>Bem vindo à Minha Lojinha:</h1>

<h2>A lojinha que é minha</h2>

<strong> RSRSRSRSRS </strong>

<%if session[:admin_logado] == nil || session[:admin_logado] == [] && session[:cliente_logado] == nil || session[:cliente_logado] == []%>
	<form action="/autenticar" method="post" >
		Faça seu login, e vamos brincar, amiguinho :D <br/>
		E-mail: <input type="text" name="email"/>
		Senha: <input type="password" name="senha"/>
		<input type="submit" value="Login" /><br/>
		<a href="/clientes_cadastro">Ainda não tem cadastro? Faça agora. É rápido e fácil :D</a>
	</form>
<%else%>
	<% if session[:admin_logado] != nil && session[:admin_logado] != [] %>
		<% usuario = Usuario.where("id IN (?)", session[:admin_logado]).first %>
		<p>Bem vindo, Sr(a). <%= usuario.nome.capitalize %></p>
	<% else %>
		<% usuario = Usuario.where("id IN (?)", session[:cliente_logado]).first %>
		<p>Bem vindo, Sr(a). <%= usuario.nome.capitalize %></p>
	<% end %>
<%end%>
<%=session[:admin_logado]%>
<%=session[:cliente_logado]%>
<!-- Lista produtos lançados recentemente -->
<h3>Produtos Lançados:</h3><br/>
<% @resultado = ActiveRecord::Base.connection.execute("select DISTINCT id from produtos ORDER BY id DESC LIMIT 10")  
    @resultado.each do |row| %>
	<!--ai dentro desse each vc acessa row como uma hash-->

		<%  @var = Produto.find(row[0]) %> 
		Produto: <%= @var.nome %> </br>
		Ano: <%= @var.ano %> </br>
		<% artista = Artista.where("id IN (?)", @var.id_artista).first %> 
		Artista: <%= artista.nome %><br/><br/>
	<% end %> </br></br>

<!-- Lista mais vendidos -->
<h3>Mais comprados: </h3><br/>
<% @resultado = ActiveRecord::Base.connection.execute("select p.id AS Produto, COUNT(v.id_produto) AS Vendas from produtosvendidos v INNER JOIN produtos p ON p.id = v.id_produto GROUP BY p.id ORDER BY count(v.id_produto) DESC LIMIT 10")  
    @resultado.each do |row| %>
    <!--ai dentro desse each vc acessa row como uma hash--> 
	<%  @var = Produto.find(row[0]) %> 
	Produto:<%= @var.nome %> </br>
	Ano:<%= @var.ano %> </br>
	<% artista = Artista.where("id IN (?)", @var.id_artista).first %> 
		Artista: <%= artista.nome %><br/><br/>
	<% end %> </br></br>

