<h1>Bem vindo à Minha Lojinha:</h1>

<h2>A lojinha que é minha</h2>

<strong> RSRSRSRSRS </strong>

<%if session[:admin_logado] == nil || session[:admin_logado] == [] && session[:cliente_logado] == nil || session[:cliente_logado] == []%>
	<form action="/autenticar" method="post" >
		Faça seu login, e vamos brincar, amiguinho :D <br/>
		E-mail: <input type="text" name="email"/>
		Senha: <input type="password" name="senha"/>
		<input type="submit" value="Login" /><br/>
		<a href="/clientes_cadastro">Ainda não tem cadastro? Faça agora. É rápido e fácil :D</a>
	</form>
<%else%>
	<% if session[:admin_logado] != nil && session[:admin_logado] != [] %>
		<% usuario = Usuario.where("id IN (?)", session[:admin_logado]).first %>
		<p>Bem vindo, Sr(a). <%= usuario.nome.capitalize %></p>
	<% else %>
		<% usuario = Usuario.where("id IN (?)", session[:cliente_logado]).first %>
		<p>Bem vindo, Sr(a). <%= usuario.nome.capitalize %></p>
	<% end %>
<%end%>
<!--<%=session[:admin_logado]%>
<%=session[:cliente_logado]%>
Produtos aleatórios nesse lugar-->
<!-- Lista produtos lançados recentemente -->
<p>Produtos Lançados:<br/>
<% @resultado = ActiveRecord::Base.connection.execute("select DISTINCT id from produtos ORDER BY id DESC LIMIT 10") 
    i = 0;
    @resultado.each do |row| %>
	<!--ai dentro desse each vc acessa row como uma hash-->
		<%  @var = Produto.find(row[i]) %> 
		<%= @var.nome %>
		<% i = i + 1 %>
	<% end %> </p>
<!-- Lista mais vendidos -->
<p>Mais comprados: <br/>
<% @resultado = ActiveRecord::Base.connection.execute("select p.id AS Produto, COUNT(v.id_produto) AS Vendas from produtosvendidos v INNER JOIN produtos p ON p.id = v.id_produto GROUP BY p.id ORDER BY count(v.id_produto) DESC LIMIT 10") 
    i = 0;
    @resultado.each do |row| %>
    <!--ai dentro desse each vc acessa row como uma hash--> 
	<%  @var = Produto.find(row[i]) %> 
	<%= @var.nome %>
	<%= row[i]%>
	<% i = i + 1 %>
	<% end %> </p>