<h1>Produtos</h1>

<% if @produtos != nil %>
	<ul>
	Busca:
	<form action="/produtos_busca" method="get">
		<input name="busca" type="text"/>
		<input type="submit" value="buscar"/>
	</form>
	<% @produtos.each do |produto| %>
		<li>
			Nome: <%= produto.nome.capitalize %><br/>
			<% artista = Artista.where("id IN (?)", produto.id_artista).first %>
			Artista: <%= artista.nome %><br/>
			<% genero = Genero.where("id IN (?)", produto.id_genero).first %>
			Gênero: <%= genero.genero %><br/>
			<% tipo = Tipo.where("id IN (?)", produto.id_tipo).first %>
			Tipo: <%= tipo.tipo %><br/>
			Preço: R$ <%= produto.preco %><br/>
			<img src="<%=produto.id%>.jpg" alt="<%= produto.nome%>" width="200px"/>
		<form action="/carrinho_add" method="post">
			<input name="id_carrinho" value="<%=produto.id%>" type="hidden"/>
			<input type="submit" value="Adicionar ao carrinho"/>
		</form>
		<%if session[:admin_logado] != nil && session[:admin_logado] != []%> 
			<form action="/produtos_editar" method="get">
				<input name="id_editar" value="<%=produto.id%>" type="hidden"/>
				<input type="submit" value="Editar produto"/>
			</form>
			<form action="/produtos_remover" method="post">
				<input name="id_remover" value="<%=produto.id%>" type="hidden"/>
				<input type="submit" value="Remover produto"/>
			</form>
		<%end%>
		</li>
	<% end %>
	</ul>
<% else %>
	Sem produtos. Nothing to do here.
<% end %>