<h1>Veja e edite aqui as vendas</h1>

<% if @vendas != nil %>
	<ul>
		<% @vendas.each do |v| %>
		<li>
		<% usuario = Usuario.find(v.id_usuario) %>
		Cliente: <%= usuario.nome %>
		Valor da compra: <%= v.valor_total %>
		<% status = Statu.find(v.id_status) %>
		Status: <%= status.status %>
		<form method="post" action="/editar_venda">
			<select name="status">
				<% @status.each do |s| %> 
					<option value="<%= s.id %>"><%= s.status %></option>
				<% end %>
			</select>
			<input type="hidden" value="<%=v.id%>" name="venda_editar"/>
			<input type="submit" value="Atualizar Status"/>
		</form>
		</li>
		<% end %>
	</ul>
<% else %>
	<p>Sem vendas. Que loja fraca, hein?</p>
<% end %>